.app {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.app-header {
  margin-bottom: 170px;
}

.app-bar {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a:first-child {
  margin-right: 10px;
}

.hero {
  max-width: 550px;
  height: 250px;
  display: flex;
  align-items: center;
}

.hero-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-wrapper {
  width: 50%;
}

.additional-work {
  margin-bottom: 170px;
}

.add-work-row {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

.add-work-row div:last-child {
  padding-right: 15px;
}

.add-work-row .details {
  display: flex;
  justify-content: space-between;
}

footer {
  margin-bottom: 50px;
}

.footer-subtext {
  padding: 20px 0;
}

.footer-links a {
  margin-right: 10px;
}

.footer-links a:last-child {
  margin: 0;
}
